
body {
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
       }

       .para{
 width: 1150px;
 border: solid 20px black;
 margin: 60px auto;
 border-radius: 0%;
 background-color:lightgrey;text-shadow: 2px 2px 5px black;
}



#righttabs{
	text-align: center;
}
a:link, a:visited {
  background-color: #153466;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#me
{width:300px;}

a:hover, a:active {
  background-color: lightgrey;
}
